@font-face {
  font-family: "Bayland";
  src:
    url("/assets/fonts/Bayland.woff2") format("woff2"),
    url("/assets/fonts/Bayland.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --width-content: 1300px;

  --color-bg: rgba(255, 247, 240, 0.831372549);
  --color-text: #222222;
  --color-link: #561d68;
  --header-text-color: #561d68;
  --form-input-bg-color: #561d68;
  --main-heading-color: #561d68;
  --form-input-text-color: #eee;

  --border-radius: 3px;
  --box-shadow: none;

  --font-family-body: system-ui, sans-serif;
  --line-height: 1.3;
  --link-decoration: underline;
  --link-decoration-hover: underline;
  --link-decoration-style: solid;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.6;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #561d68;
  background-image: url("/assets/cubes.png"), linear-gradient(#561d68, #2f0c3a);
  background-attachment: fixed;
}

article#content,
header {
  h1,
  h2,
  h3 {
    font-family: "Bayland", sans-serif;
    color: #d56c10;
    text-shadow: 1px 1px 0 white;
  }
}
